body, h1 {
    font-family: "Poppins", sans-serif
}

body, html {
    height: 100%
}

.bgimg {
    background-image: url('src/bg.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}